
@{
    ViewData["Title"] = "ItemPedido";
}



<div class="row  justify-content-center align-middle" id="tabelaElementos">
    <div class="col-md-8 bg-white justify-content-md-center align-middle" id="tabelaElementos">
        <br />
        <table class="table table-hover" id="tabelaElementos">
            <thead id="CabecalhoTabela">

            </thead>
            <tbody id="CorpoTabela">
            </tbody>
        </table>
    </div>
</div>

