<footer class="border-top footer text-muted fixed-bottom bg-white">
    <div class="container">
        &copy; SistAL 2021 - Desenvolvido por ICA Automação - Todos Direitos Reservados - @Html.ActionLink("Privacidade", "Privacy", "Home")
    </div>
</footer>
