
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Adição de Ligas Aciaria</title>
    <link rel="stylesheet" type="text/css" href="~/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/principal.css" />


</head>
<body>
    @Html.Partial("_MenuSuperior")
    @Html.Partial("_SideBar")
    <div class="container" style="padding-top: 70px; border-left:100px;">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

