

<input type="checkbox" id="check" />
<header>
    <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
        <h3>Sistema de Pedidos</h3>
    </div>
    <div class="rigth_area">
        <img src="~/img/logoICA" class="imgLogoICA" />
    </div>
</header>

