<link rel="stylesheet" type="text/css" href="~/css/awesomeall.min.css" />
<div class="sidebar">
    <center>
        <img class="profile_image" src="~/img/logoArcelorMittal/ArcelorMittal.png" alt="" />
    </center>
    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-calculator"><span>&nbsp; Mesas</span></i></a>
    <a asp-area="" asp-controller="Pedido" asp-action="CategoriaPedidos"><i class="fas fa-database"><span>&nbsp;Pedidos</span></i></a>
    <a asp-area="" asp-controller="Pedido" asp-action="ExibirLanchesPedidos"><i class="fas fa-desktop"><span>&nbsp;Preparando</span></i></a>

</div>